# Systemd timer create file in /etc/systemd/system/paccache.timer with the following contents

[Unit]
Description=Clean-up old pacman pkg cache

[Timer]
OnCalendar=monthly
Persistent=true

[Install]
WantedBy=multi-user.target

# Enable by sudo systemctl start paccache.timer
